@model DeviceModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.WebApi.Devices.ViewDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("WebApiDevice");
}

<form asp-controller="WebApiDevice" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.WebApi.Devices.ViewDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.NopStation.WebApi.Devices.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <span id="device-delete" class="btn bg-red">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_webapidevice_list_buttons", additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="device-delete" />